<div>users index page</div>
<div>
    <%= render 'tweets' %>
</div>
<div>
    <%= link_to 't', '/tweets' ,method: :get %>
</div>
<div>
    <%= render 'signup' %>

</div>
<div>
    <%= render 'user_list' %>
</div>
